*
    margin: 0
    padding: 0
body
    background-color: #fafafa
.imagen-principal
    width: 100%
    
    img
    display: block
    margin: auto
    width: 80%
    height: 500px
    border-radius: 50px
    
    h1.titulo
    font-family: Arial
    color: #9C3E60
							
